/* Whole Dcument */

/* body {
  font-family: ;
} */

ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

a {
  color: grey;
  text-decoration-line: none;
}

img {
  height: auto;
  width: 100%;
}

video {
  height: auto;
  width: 100%;
}

section {
  display: flex;
  padding: 32px;
}

h2 {
  margin: 32px 0;
  text-align: center;
  width: 100%;
}

.right_box {
  margin: 16px;
}

.horizontal {
  margin: 16px;
}

/* Desktop classes */

@media only screen and (min-width: 480px) {
  .left_box {
    width: 60%;
    margin: 32px 8px 32px 24px;
    height: auto;
    display: inline-block;
  }
  
  .right_box {
    width: 40%;
    margin: 16px 8px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .right_box img {
    width: 35%;
    height: auto;
  }
  
  .horizontal {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  
  .mobile {
    display: none;
  }
}
/* mobile */

@media only screen and (max-width: 480px) {
  section {
    padding: 0;
    flex-wrap: wrap;
  }
  
  .left_box {
    width: 100%;
  }
  
  .right_box {
    width: 100%;
  }
  
  .desktop {
    display: none;
  }
  
  h2 {
    margin: 32px 0px 16px;
  }
}

/* Header */

header {
  box-sizing: content-box;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

#header {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  height: 32px;
}

#header img {
  height: 100%;
  width: auto;
}

h1 {
  line-height: 32px;
  margin: auto 0;
}

h1 span {
  color: grey;
}

header li {
  margin-left: 16px;
}

#mobile_header {
  display: none;
}

/* Header mobile */

@media only screen and (max-width: 480px) {
  #header {
    display: none;
  }
  
  nav {
    display: none;
  }
  
  header {
    padding: 0;
  }
  
  #mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
}

/* Banner */

#banner {
  background-color: grey;
}

#banner h2 {
  margin-bottom: 24px;
  text-align: left;
}

.button {
  background-color: black;
  text-align: center;
  margin: 24px 0px 32px;
}

.button a {
  color: white;
  margin: 8px auto;
}

/* Banner mobile */

@media only screen and (max-width: 480px) {
  #banner h2 {
    margin-bottom: 32px;
  }
  
  /* Information */
  
  .horizontal a {
    color: blue;
  }
  
  .horizontal:hover {
    background-color: grey;
  }
}

/* Informational mobile */

/* @media only screen and (max-width: 480px) {
} */

/* Courses */

#courses_section {
  display: block;
  background-color: grey;
  padding: 0 56px;
}

#courses {
  display: flex;
  flex-flow: row wrap;
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
  margin: 16px 16px 32px;
}

#courses div {
  width: 30%;
  background-color: white;
}

/* Courses mobile */

@media only screen and (max-width: 480px) {
  #courses_section {
    padding: 0;
    background-color: white;
  }
  
  #courses {
    display: block;
  }
  
  #courses div {
    width: 100%;
  }
  
  #courses_section h3 {
    margin: 8px 0;
    background-color: grey;
    padding: 16px 16px 24px 16px;
  }
  
  #courses h4,
  #courses p,
  #courses img {
    display: none;
  }
}

/* Thesis */

#thesis_section {
  display: block;
}

#thesis {
  display: flex;
}

/* Thesis mobile */

@media only screen and (max-width: 480px) {
  #thesis_section {
    margin: 32px 0 24px;
  }
  
  #thesis {
    padding-bottom: 24px;
  }
  
  #thesis .right_box,
  #thesis h3,
  #thesis p {
    display: none;
  }
}

/* Footer */

footer {
  margin: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
}


/* Footer mobile */

/* @media only screen and (max-width: 480px) {} */
