/* Whole Dcument */

/* body {
  font-family: ;
} */

ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

a {
  color: grey;
  text-decoration-line: none;
}

img {
  height: auto;
  width: 100%;
}

video {
  height: auto;
  width: 100%;
}

section {
  display: flex;
  border: 1px solid grey;
  padding: 32px;
}

h2 {
  margin: 32px 0;
  text-align: center;
  width: 100%;
}

.right_box {
  margin: 16px;
}

@media only screen and (min-width: 480px) {
.left_box {
  width: 60%;
  margin: 32px 8px 32px 24px;
  height: auto;
  display: inline-block;
}

.right_box {
  width: 40%;
  margin: 16px 8px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.right_box img {
  width: 35%;
  height: auto;
}
}
/* mobile */

@media only screen and (max-width: 480px) {
  section {
    padding: 0;
    flex-wrap: wrap;
  }

  h2 {
    text-align: left;
  }
}

/* Header */

header {
  box-sizing: content-box;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

#header {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  height: 32px;
}

#header img {
  height: 100%;
  width: auto;
}

h1 {
line-height: 32px;
margin: auto 0;
}

h1 span {
  color: grey;
}

header li {
  margin-left: 16px;
}

#mobile_header {
  display: none;
}

/* Header mobile */

@media only screen and (max-width: 480px) {
  #header {
    display: none;
  }

  nav {
    display: none;
  }

  header {
    padding: 0;
  }

  #mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
  }
}

/* Banner */

#banner {
  background-color: grey;
}

#banner h2 {
  margin-bottom: 24px;
}

.button {
  background-color: black;
  text-align: center;
}

.button a {
  color: white;
  margin: 8px auto;
}

/* Banner mobile */

@media only screen and (max-width: 480px) {

.left_box {
  width: 100%;
}

.right_box {
  width: 100%;
}

}

/* Information */

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.horizontal a {
  color: blue;
}

.horizontal:hover {
  background-color: grey;
}

/* Courses */

#courses_section {
  display: block;
  background-color: grey;
  padding: 0 56px;
}

#courses {
  display: flex;
  flex-flow: row wrap;
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
}

#courses div {
  width: 30%;
  background-color: white;
}

/* Thesis */

#thesis_section {
  display: block;
}

#thesis {
  display: flex;
}

/* Footer */

footer {
  margin: 16px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
}
